{{> navbar_partial }}

<!-- page content -->
<div class="container"> --}}

  <!-- jumbotron header -->
  <header class="jumbotron text-center">

    {{!-- <div class="overlay"></div>
    <div class="background-image"></div> --}}

    {{!-- {{!-- <h1>{{msg}}</h1> --}}

    <h1 class="display-3 text-white">Mongo Scraper</h1>
    <p class="lead text-white">ThoughtCo. Edition</p>
    <button id="scrape-btn" class="btn btn-secondary btn-lg">Scrape Articles!</button>
  </header>

  <!-- articles -->

  <h1 class="text-center my-5">saved articles <i class="fas fa-caret-down" id="saved-toggle"></i></h1>
  <div id="saved-articles" class="row text-center">

    {{#if articles }}
    {{#each articles }}
    {{#if this.saved }}

    
    {{> article_partial }}
   

    {{/if }}
    {{/each}}
    {{/if }}

  </div>

  {{#if articles}}
  <h1 class="text-center my-5">all articles <i class="fas fa-caret-down" id="show-toggle"></i></h1>
  <div id="articles" class="row text-center">

    {{#each articles}}
    {{#unless this.saved}}

    {{> article_partial }}
    
    {{/unless}}
    {{/each }}
  </div>
  {{/if }}
</div>
<!-- /.container -->

{{!-- {{> footer_partial}} --}}