html {
    position: relative;
    min-height: 100%;
}

header {
    background-image: url("../images/coffeePassport.jpg");
    background-position: top; 
}

/* body {
    margin-bottom: 80px;
    background-image: url("../images/coffeeComputer.jpg");
} */

.text-white {
    font-weight:700;
}

.save-btn, .unsave-btn {
    color: white !important;
}

.card-title {
    color: darkgray !important;
    font-weight:600;
    font-size:12px;
}

.card {
    background: #fff;
    border-radius: 2px;
    height: 330px;
    margin: 1rem;
    position: relative;
    width: 345px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
}

.card-image-top {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:white;
}

.card-body {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 10px;
}

.card-footer {
    margin-top: 0px;
    text-align: center;
}
